
    <script type="text/ng-template" id="popin.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
            <h3>Attention</h3>
        </div>
        <div class="modal-body">
            <p>
                Vous allez supprimer votre voiture et tous les passagers qui sont à bord !
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="updateLocomotion('AUTOSTOP');">Valider</button>
            <button class="btn btn-default cancel" ng-click="cancel()">Annuler</button>
        </div>
    </script>

    <div snap-content snap-options="snapOptions" id="content" class="scrollable" >
    <div class="row" >
    <div class="col-md-2">

    </div>
    <div class="col-md-4">

        <!--DESCRIPTION DE L'EVENEMENT-->
        <div ng-show="!eventEdit">
            <h1>
                {{event.name}}
                <a>
                    <i tooltip="Modifier l'évenement" class="glyphicon glyphicon-edit" ng-click="setEventEditMode(true)"></i>
                </a>
            </h1>
            <blockquote >
                <p >
                    {{event.description}}
                </p>
                <small >
                    Cet événement a lieu le <strong>{{event.fromDate | date:'dd-MM-yyyy'}}</strong> <strong ng-show="event.startTime">à {{event.startTime}}</strong>
                    <address>Adresse : <strong>{{event.address.description}}</strong></address>
                </small>

            </blockquote>
        </div>

        <!--MODIFICATION DE L'EVENEMENT-->
        <div ng-show="eventEdit">
            <div class="alert alert-info" ng-show="showUpdated">
                <button type="button" class="close" data-dismiss="alert" ng-click="setToUpdated()">&times;</button>
                Completez les informations de l'événement pour aider les participants !
            </div>
            <label>Nom</label>
            <input class="form-control" ng-model="event.name" type="text" ></input>
            <label>Description</label>
            <textarea class="form-control" ng-model="event.description" rows="3" cols="8"></textarea>
            <label>Date de l'événement</label>
            <div class="input-group">
                            <span class="input-group-btn">
                                <button ng-click="openCalendar()" type="button" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                <input class="form-control" type="text" datepicker-popup="dd/MM/yyyy" ng-model="event.fromDate" is-open="opened" min="today" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            </div>
            <label>Heure de début</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="event.hour" placeholder="heure">
                <span class="input-group-addon">h</span>
                <input type="text" class="form-control" ng-model="event.minutes" placeholder="minute">
            </div>

            <label>Adresse de l'évenement :</label>
            <input class="form-control" ng-model="event.address" googleplace type="text" placeholder="{{event.address.description}}"></input>

            <label>Liste de diffusion :</label>
            <ul>
                <li ng-repeat="contact in event.contacts"><small>{{contact}}</small></li>
            </ul>
            <div class="controls">
                <div class="input-group" >
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input class="form-control" ng-model="contacts.addedContact" placeholder="email1;email2..." type="text"></input>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"  ng-click="addContact(contacts.addedContact)">Inviter</button>
                                </span>
                </div>
            </div>
            <input type="checkbox" ng-model="event.contactsOnly" />
            <span tooltip-placement="right" tooltip="Si cette case est coché les événement sera accessible uniquement aux personnes correspondantes aux mails saisies">Restreindre l'accès à l'événement à cette liste de diffusion</span>
            <br/>
            <button class="btn btn-primary" type="button" ng-click="saveEvent()">Valider</button>
            <button class="btn btn-default" type="button" ng-click="setEventEditMode(false)">Annuler</button>
        </div>



        <alert ng-repeat="alert in alerts | orderBy: '-date' " type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        <br/>

        <!-- GESTION DES MARKERS SUR LA CARTE GOOGLE -->
        <div ng-repeat="marker in getMarkers()" ui-map-marker="getMarker($index)"
             ui-event="{'map-click': 'openMarkerInfo(marker)'}">
        </div>
        <div ui-map-info-window="myInfoWindow">
            <div ng-show="currentInfoWindowsSubscriber">
                <strong>{{currentInfoWindowsSubscriber.surname}} {{currentInfoWindowsSubscriber.name}}</strong>
                <div ng-show="currentInfoWindowsSubscriber.locomotion == 'CAR'">
                    Passagers :
                    <ul>
                        <li ng-repeat="aPassenger in currentInfoWindowsSubscriber.car.passengers" >
                            {{getSubscriber(aPassenger).surname}} {{getSubscriber(aPassenger).name}}
                        </li>
                    </ul>
                    {{currentInfoWindowsSubscriber.car.nbPlaces - currentInfoWindowsSubscriber.car.passengers.length}} places restantes
                </div>
                <div ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && currentInfoWindowsSubscriber.normalCar" >
                    <button class="btn btn-success btn-xs" type="button" ng-click="askForSeat(currentInfoWindowsSubscriber)" >Reserver une place</button>
                </div>
                <div ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && currentInfoWindowsSubscriber.currentCar" >
                    <button class="btn btn-warning btn-xs" type="button" ng-click="removePassenger(currentInfoWindowsSubscriber, currentSubscriber.userRef)" >Annuler ma reservation</button>
                </div>
                <div ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && currentInfoWindowsSubscriber.iAskHim" >
                    <button class="btn btn-warning btn-xs" type="button" ng-click="removeWaitingGuy(currentInfoWindowsSubscriber, currentSubscriber.userRef)" >Annuler ma reservation</button>
                </div>
                <div ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && currentInfoWindowsSubscriber.heAskMeToBeInHisCar">
                    <button class="btn btn-warning btn-xs" type="button" ng-click="removePossibleCar(currentSubscriber, currentInfoWindowsSubscriber.userRef)" >Decliner sa proposition</button>
                </div>
                <!-- AUTOSTOP -->
                <div ng-show="currentSubscriber.locomotion == 'CAR' && currentInfoWindowsSubscriber.free">
                    <button class="btn btn-success btn-xs" type="button" ng-click="proposeSeat(currentInfoWindowsSubscriber, currentSubscriber.userRef)" >Proposer une place</button>
                </div>
                <div ng-show="currentSubscriber.locomotion == 'CAR' && currentInfoWindowsSubscriber.requestedByMe">
                    <button class="btn btn-warning btn-xs" type="button" ng-click="removePossibleCar(currentInfoWindowsSubscriber, currentSubscriber.userRef)" >Annuler ma proposition</button>
                </div>
                <div ng-show="currentSubscriber.locomotion == 'CAR' && currentInfoWindowsSubscriber.waitingForMyCar">
                    <button class="btn btn-warning btn-xs" type="button" ng-click="removeWaitingGuy(currentSubscriber, currentInfoWindowsSubscriber.userRef)" >Decliner la reservation</button>
                </div>
                <div ng-show="currentSubscriber.locomotion == 'CAR' && currentInfoWindowsSubscriber.inMyCar">
                    <button class="btn btn-warning btn-xs" type="button" ng-click="removePassenger(currentSubscriber, currentInfoWindowsSubscriber.userRef)" >Annuler la reservation</button>
                </div>
            </div>
            <div ng-show="currentInfoWindowsEvent">
                <strong>{{currentInfoWindowsEvent.name}}</strong><br/>
                Adresse : <address><strong>{{currentInfoWindowsEvent.address}}</strong></address>
            </div>
        </div>
        <div id="map_canvas" ui-map="map" class="map"
             ui-options="getMapOptions()">
        </div>
    </div>


    <!-- MODIFICATION PARTICIPANT COURANT / PARTICIPATION A L'EVENEMENT -->
    <div ng-show="!currentSubscriber || editMode"  class="col-md-4">



        <fieldset>
            <legend ng-show="!currentSubscriber">Vous ne participez pas encore :</legend>
            <alert ng-repeat="alert in alertsSubsc | orderBy: '-date' " type="alert.type" close="closeAlertSubsc($index)">{{alert.msg}}</alert>
            <label>Email</label>
            <input class="form-control" ng-model="editedSubscriber.email" type="email" required></input>
            <label>Nom</label>
            <input class="form-control" ng-model="editedSubscriber.name" type="text" ></input>
            <label>Prénom</label>
            <input class="form-control" ng-model="editedSubscriber.surname" type="text" ></input>
            <label>Point de départ</label>
            <input class="form-control" ng-model="editedSubscriber.address" googleplace type="text" placeholder="{{editedSubscriber.address.description}}"></input>
            <label>Moyen de transport :</label>
            <span ng-show="editedSubscriber.locomotion == 'CAR'">en voiture</span>
            <span ng-show="editedSubscriber.locomotion == 'AUTOSTOP'">à pied</span>
            <select class="form-control" ng-show="!currentSubscriber" ng-model="editedSubscriber.locomotion" ng-options="item.id as item.name for item in items"></select>
            <div ng-show="editMode" class="btn-group">
                <label>Modifier ma locomotion :</label>
                <button ng-show="editedSubscriber.locomotion == 'AUTOSTOP' || editedSubscriber.locomotion == 'DONT_KNOW_YET'" ng-click="updateLocomotion('CAR')" type="button" class="btn btn-default" >Devenir conducteur</button>
                <button ng-show="editedSubscriber.locomotion == 'CAR' || editedSubscriber.locomotion == 'DONT_KNOW_YET'" ng-click="updateLocomotion('AUTOSTOP')" type="button" class="btn btn-default" >Devenir passager</button>
            </div>

            <div ng-show="editedSubscriber.locomotion == 'CAR'">
                <label>Nb passagers max</label>
                <input class="form-control" ng-model="editedSubscriber.car.nbPlaces" type="text" maxlength="1"></input>
            </div>
        </fieldset>
        <div ng-show="!currentSubscriber">
            <button class="btn btn-primary" type="button" ng-click="subscribe()">Participer</button>
        </div>
        <div ng-show="editMode">
            <button  class="btn btn-default" ng-click="setEditMode(false)">Annuler</button>
            <button  class="btn btn-primary" ng-click="saveCurrentSubscriber()">Valider</button>
        </div>
    </div>



    <div ng-show="currentSubscriber" class="col-md-4">
        <br/>
        <!-- PARTICIPANT COURANT -->
        <h3>
            <i><img ng-src="{{currentSubscriber.picto}}" /></i>{{currentSubscriber.surname}} {{currentSubscriber.name}}
            <a href="javascript:void">
                <i tooltip="Modifier mon profil" class="glyphicon glyphicon-edit" ng-show="!editMode" ng-click="setEditMode(true)"></i>
            </a>
            <a href="javascript:void">
                <i ng-show="!chat.newMessage" tooltip="Messages" class="glyphicon glyphicon-comment" snap-toggle="right"></i>
                            <span ng-show="chat.newMessage" ng-click="openChat()" class="label label-danger">
                                <i tooltip="Nouveau message" class="glyphicon glyphicon-comment" ></i>
                            </span>
            </a>
        </h3>
        <strong>Mon point de départ : </strong>

        <address ng-show="!editMode">
            <i class="glyphicon glyphicon-globe"></i> {{currentSubscriber.address.description}}
        </address>
        <strong>Moyen de transport : </strong>
        <span ng-show="currentSubscriber.locomotion == 'CAR'">en voiture</span>
        <span ng-show="currentSubscriber.locomotion == 'AUTOSTOP'">à pied</span>
        <br/>

        <div ng-show="currentCar" class="well">
            <strong>Ma voiture :</strong><br/>
            <strong>Le conducteur :</strong> {{currentCar.driver.name}} <br/>
            <div ng-show="currentCar.passengers.length==0"><strong>Aucun passager</strong><br/></div>
            <div ng-show="currentCar.passengers.length>0">
                <strong>Les passagers : </strong>
                <ul >
                    <li ng-repeat="passenger in currentCar.passengers" >
                        {{passenger.name}}
                        <button ng-show="passenger.deleteRight" class="btn btn-default btn-xs" type="button" ng-click="removePassenger(currentCar.driver.subscriber, passenger.subscriber.userRef)" >Annuler la reservation</button>
                        </td>
                    </li>
                </ul>
            </div>
            {{currentCar.driver.subscriber.car.nbPlaces - currentCar.driver.subscriber.car.passengers.length}} places restantes
            <a ng-click="createTopicForCar(subscriber)" ><i class=" glyphicon glyphicon-comment" tooltip="Démarrer une discussion pour cette voiture" ></i></a>
        </div>

        <div ng-show="currentSubscriber.locomotion == 'AUTOSTOP'">
            <div ng-show="!currentSubscriber.carRef">
                <strong ng-show="isThereWaitingAsk()">Mes demandes en attente :</strong>
                <ul>
                    <li ng-repeat="subscriber in subscribers" ng-show="subscriber.iAskHim">
                        {{subscriber.surname}} {{subscriber.name}}
                        <button class="btn btn-warning btn-xs" type="button" ng-click="removeWaitingGuy(subscriber, currentSubscriber.userRef)" >Annuler</button>
                    </li>
                </ul>
                <strong ng-show="currentSubscriber.possibleCars.length > 0">Les utilisateurs suivants me proposent leur voiture :</strong>
                <ul >
                    <li ng-repeat="subscriber in subscribers" ng-show="subscriber.heAskMeToBeInHisCar">
                        {{subscriber.surname}} {{subscriber.name}}
                        <button class="btn btn-success btn-xs" type="button" ng-click="validatePassenger(subscriber, currentSubscriber.userRef)" >Accepter</button>
                        <button class="btn btn-warning btn-xs" type="button" ng-click="removePossibleCar(currentSubscriber, subscriber.userRef)" >Refuser</button>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-show="currentSubscriber.locomotion == 'CAR'">
            <div ng-show="currentSubscriber.car &&  currentSubscriber.car.waitingList">
                <strong>En attente : </strong>
                <ul>
                    <li ng-repeat="passenger in currentSubscriber.car.waitingList" >
                        {{getSubscriber(passenger).surname}} {{getSubscriber(passenger).name}}
                        <button class="btn btn-success btn-xs" type="button" ng-click="validatePassenger(currentSubscriber, passenger)" >Valider</button>
                        <button class="btn btn-warning btn-xs" type="button" ng-click="removeWaitingGuy(currentSubscriber, passenger)" >Annuler</button>
                    </li>
                </ul>
            </div>
            <div >
                <strong ng-show="isThereRequest()">Mes propositions en attente de validation : </strong>
                <ul>
                    <li ng-repeat="subscriber in subscribers" ng-show="subscriber.requestedByMe">
                        {{subscriber.surname}} {{subscriber.name}}
                        <button class="btn btn-warning btn-xs" type="button" ng-click="removePossibleCar(subscriber, currentSubscriber.userRef)" >Annuler</button>
                    </li>
                </ul>
            </div>
        </div>
        <br/>



        <!-- TABLEAU DES PARTICIPANTS-->
        <div ng-show="getSubscribers().length > 1">
            <span><strong>Afficher : </strong></span>
            <br/>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="setFilterToCar()" ng-model="filter.car" btn-checkbox>Les conducteurs</button>
                <button type="button" class="btn btn-primary" ng-click="setFilterToAutostop()" ng-model="filter.autostop" btn-checkbox>Les passagers</button>
            </div>

            <br/>
            <div>
                <form class="form-search">
                    Rechercher :
                    <div class="input-group" >
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input class="form-control" type="text" ng-model="query" class="input-medium search-query">
                    </div>
                </form>
            </div>
            <div table-responsive>
                <table id="searchTextResults" class="table table-condensed">
                    <thead>
                    <tr>
                        <th>locomotion</th>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th ng-show="currentSubscriber.locomotion == 'AUTOSTOP'">Reservations</th>
                        <th ng-show="currentSubscriber.locomotion == 'CAR'">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="subscriber in getSubscribers() | auto:filterUsers:markers  | filter:query" ng-show="!subscriber.current" class="{{subscriber.class}}" >
                        <td>
                            <a ng-click="openSubscriberInfo(subscriber)" href="javascript:void"><img ng-src="{{subscriber.picto}}" /></a>
                            <a ng-click="createTopic(subscriber)" href="javascript:void"><i class=" glyphicon glyphicon-comment" tooltip="Démarrer une discussion" ></i></a>
                            <span ng-show="subscriber.locomotion == 'CAR'" tooltip="{{subscriber.car.nbPlaces - subscriber.car.passengers.length}} places restantes" class="badge" >{{subscriber.car.nbPlaces - subscriber.car.passengers.length}}</span>
                        </td>
                        <td >{{subscriber.surname}} {{subscriber.name}}</td>
                        <td>{{subscriber.address.description}}</td>
                        <!-- CAR -->
                        <td ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && subscriber.normalCar" >
                            <button class="btn btn-success btn-xs" type="button" ng-click="askForSeat(subscriber)" >Reserver une place</button>
                        </td>
                        <td ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && subscriber.currentCar" >
                            <button class="btn btn-warning btn-xs" type="button" ng-click="removePassenger(subscriber, currentSubscriber.userRef)" >Annuler ma reservation</button>
                        </td>
                        <td ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && subscriber.iAskHim" >
                            <button class="btn btn-warning btn-xs" type="button" ng-click="removeWaitingGuy(subscriber, currentSubscriber.userRef)" >Annuler ma reservation</button>
                        </td>
                        <td ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && subscriber.heAskMeToBeInHisCar">
                            <button class="btn btn-warning btn-xs" type="button" ng-click="removePossibleCar(currentSubscriber, subscriber.userRef)" >Decliner sa proposition</button>
                        </td>
                        <!-- AUTOSTOP -->
                        <td ng-show="currentSubscriber.locomotion == 'CAR' && subscriber.free">
                            <button class="btn btn-success btn-xs" type="button" ng-click="proposeSeat(subscriber)" >Proposer une place</button>
                        </td>
                        <td ng-show="currentSubscriber.locomotion == 'CAR' && subscriber.requestedByMe">
                            <button class="btn btn-warning btn-xs" type="button" ng-click="removePossibleCar(subscriber, currentSubscriber.userRef)" >Annuler ma proposition</button>
                        </td>
                        <td ng-show="currentSubscriber.locomotion == 'CAR' && subscriber.waitingForMyCar">
                            <button class="btn btn-warning btn-xs" type="button" ng-click="removeWaitingGuy(currentSubscriber, subscriber.userRef)" >Annuler ma proposition</button>
                        </td>
                        <td ng-show="currentSubscriber.locomotion == 'CAR' && subscriber.inMyCar">
                            <button class="btn btn-warning btn-xs" type="button" ng-click="removePassenger(currentSubscriber, subscriber.userRef)" >Annuler la reservation</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-2">

    </div>
    </div>
    <!-- MUR DE DISCUSSION-->

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>Ecrivez un message !</h4>
                    <textarea class="form-control" rows="2" ng-model="wall.currentMessage" ui-keypress="{13:'sendMessageToWall(wall.currentMessage)'}" ></textarea>
                </li>
                <li class="list-group-item" ng-repeat="msg in wall.messages | orderBy: '-date' | limitTo: eltsInWall" >
                    <strong ng-show="msg.from != currentSubscriber.userRef" tooltip-placement="left" tooltip="{{msg.date | date:'à HH:mm:ss le dd/MM'}}">
                        {{getSubscriber(msg.from).surname}} {{getSubscriber(msg.from).name}} :
                    </strong>
                    <strong ng-show="msg.from == currentSubscriber.userRef" tooltip-placement="left" tooltip="{{msg.date | date:'à HH:mm:ss le dd/MM'}}">
                        Moi :
                    </strong>
                    <br/>
                    {{msg.message}}
                    <small class="text-muted" ng-show="msg.statut && msg.statut == 'SENDING'">Envoi en cours</small>
                    <small class="text-muted" ng-show="!msg.statut || msg.statut == 'RECEIVED'">Envoyé</small>
                    <small class="text-error" ng-show="msg.statut && msg.statut == 'FAILURE'">Erreur le message n'a pas été envoyé</small>
                </li>
                <li class="list-group-item">
                    <a ng-click="eltsInWall = eltsInWall + 5 ">Plus ...</a>
                    <a class="pull-right" ng-show="eltsInWall > 10" ng-click="eltsInWall = eltsInWall - 5 ">... moins</a>
                </li>
            </ul>
        </div>


    </div>


    </div>

    <div snap-drawer="right" id="chatZone" class="row pull-right">
        <div class="col-md-8">
            <div class="row">
                <a href="javascript:void" ng-click="openChat()" class="text-right pull-rigth"><strong>Retour</strong><span class="close" aria-hidden="true">&times;</span></a>
                <br/>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" ng-show="chat.currentTopic.categorie=='chat'" >
                                <span  ng-show="chaters != currentSubscriber.userRef" ng-repeat="chaters in chat.currentTopic.subscribers">
                                    {{getSubscriber(chaters).surname}} {{getSubscriber(chaters).name}},
                                </span>
                        </h3>
                        <h3 class="panel-title" ng-show="chat.currentTopic.categorie=='carChat'">
                            Ma voiture
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div style="max-height:300px;overflow:auto;" scroll-glue >
                            <p ng-repeat="message in chat.messages | orderBy: 'date' ">
                                <strong ng-show="message.from != currentSubscriber.userRef" >
                                    {{getSubscriber(message.from).surname}} {{getSubscriber(message.from).name}} :
                                </strong>
                                <strong ng-show="message.from == currentSubscriber.userRef" >
                                    Moi :
                                </strong>
                                <br/>
                                {{message.message}} <br/>
                                <small class="text-muted" ng-show="message.from == currentSubscriber.userRef && message.statut && message.statut == 'SENDING'">Envoi en cours</small>
                                <small class="text-muted" ng-show="message.from == currentSubscriber.userRef && !message.statut || message.statut == 'RECEIVED'">Envoyé {{message.date | date:'à HH:mm:ss le dd/MM'}}</small>
                                <small class="text-error" ng-show="message.from == currentSubscriber.userRef && message.statut && message.statut == 'FAILURE'">Erreur le message n'a pas été envoyé</small>
                            </p>
                        </div>
                    </div>
                </div>


                <textarea class="form-control" rows="1" ng-model="chat.currentMessage" ui-keypress="{13:'sendMessage(chat.currentMessage)'}" ></textarea>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <br/>
            </div>
            <div class="row">
                <div class="list-group">
                    <a href="javascript:void" class="list-group-item header">
                        <strong>Mes conversations</strong>
                    </a>
                    <a class="list-group-item" ng-repeat="topic in chat.topics  | orderBy: '-update'"
                       ng-class="{'active' : topic.active}"
                       chat-messages
                       href="javascript:void" ng-click="loadMessages(topic)">

                            <span ng-show="topic.categorie=='chat'" >
                                <small  ng-show="chaters != currentSubscriber.userRef" ng-repeat="chaters in topic.subscribers">
                                    {{getSubscriber(chaters).surname}} {{getSubscriber(chaters).name}},
                                </small>
                            </span>
                        <ul ng-show="topic.categorie=='carChat'">
                            <li>Ma voiture</li>
                        </ul>
                        <span ng-show="topic.alert" class="label label-danger">message</span>
                        <br/>
                        <small class="text-muted" ng-show="topic.statut && topic.statut == 'SENDING'">Creation en cours</small>
                        <small class="text-muted" ng-show="!topic.statut || topic.statut == 'RECEIVED'" >{{topic.update | date:'HH:mm:ss le dd/MM'}}</small>
                        <small class="text-danger" ng-show="topic.statut && topic.statut == 'FAILURE'"><span class="badge badge-important">!</span>Erreur la conversation n'a pas été créé</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Fin snap-->
    </div>
