@import helper._ 
@import helper.twitterBootstrap._



@main(Messages("playauthenticate.event.title"),"event") {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/google-maps.css")" />
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
  
  <script src="@routes.Assets.at("javascripts/lib/angular.js")"></script>
  <script src="@routes.Assets.at("javascripts/lib/angular-google-maps-2.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/app.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/markerModule2.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/evenementController.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/filters.js")"></script>
	<div class="row">
		<div class="span6">
			<h1>@Messages("playauthenticate.event.title")</h1>
		</div>
	</div>
	<div class="row" ng-controller="EventCtrl" ng-app="covoiturage">
		<!--Colonne de gauche-->
		<div class="span4">
			<br/>
			<h2>
			{{event.name}}
			</h2>
			<p class="text-center">{{event.description}}</p>
			<address>
			  {{event.address.description}}
			</address>
			<br/>
			
			<div>
				<span>Je cherche une voiture</span>
				<input type="checkbox" ng:model="filterUsers" ng-true-value="CAR" ng-false-value=""/>
				<br/>								
				<span>Je cherche un passager</span>
				<input type="checkbox" ng:model="filterUsers"  ng-true-value="STOP" ng-false-value=""/>
				<br/>
			    	<table id="searchTextResults" class="table">
			      	   <tr><th>Nom</th><th>Prenom</th><th>Adresse</th><th>Type</th></tr>
			      	   <tr ng-repeat="subscriber in subscribers | auto:filterUsers:markers ">
					<td>{{subscriber.name}}</td>
					<td>{{subscriber.surname}}</td>
					<td>{{subscriber.address.description}}</td>
					<td><img src="{{subscriber.picto}}" /></td>
				   </tr>
				</table>
			</div>
		</div>
		<!--Centre-->
		<div class="span6">
				<google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true" style="height: 400px" class="angular-google-map" refresh="true"></google-map>
		</div>
	</div>

}
