@import helper._
@import helper.twitterBootstrap._


@main(Messages("playauthenticate.event.title"),"event") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/demo.css")" />
    <link href="@routes.Assets.at("css/bootstrap-datepicker.css")" rel="stylesheet" />
    <link href="@routes.Assets.at("css/bootstrap-timepicker.css")" rel="stylesheet" />

    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=fr"></script>
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/directives/ui-bootstrap-tpls-0.4.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/directives/event.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/directives/keypress.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/directives/ui-map.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/directives/angular-strap.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/directives/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/directives/bootstrap-timepicker.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/directives/googleplace.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/directives/scrollglue.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/directives/ng-infinite-scroll.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/modules/mailUtils.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/modules/eventService.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/modules/chatModule.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/modules/mapService.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/modules/errorModule.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/event/app.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/event/controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/app/filters.js")"></script>

    <script type="text/javascript" src="@routes.Application.jsRoutes()"></script>



    <div ng-controller="EventCtrl" >

        <div class="row-fluid" >
            <div class="span2">
            </div>
            <div class="span4">
                <div ng-show="!eventEdit">
                    <h1>
                    {{event.name}}
                    </h1>
                    <p >
                    Cet événement a lieu le <strong>{{event.fromDate | date:'dd-MM-yyyy'}}</strong> <strong ng-show="event.startTime">à {{event.startTime}}</strong>
                    <address>Adresse : <strong>{{event.address.description}}</strong></address>
                    </p>
                    <accordion>
                        <accordion-group heading="Détails :" >
                            <dl>
                                <dt>Description de l'événement :</dt>
                                <dd>
                                    <p class="text-rigth">
                                    {{event.description}}
                                    </p>
                                </dd>
                                <dt >Liste de diffusion : </dt>
                                <dd>
                                    <ul>
                                        <li ng-repeat="contact in event.contacts" >{{contact}}</li>
                                    </ul>
                                    <div class="controls">
                                        <div class="input-prepend input-append" ng-show="showEventEditButton">
                                            <span class="add-on"><i class="icon-envelope"></i></span>
                                            <input ng-model="contacts.addedContact" placeholder="email1;email2..." type="text"></input>
                                            <button class="btn" type="button"  ng-click="addContact(contacts.addedContact)">Ajouter</button>
                                        </div>
                                    </div>
                                    <button class="btn" type="button"  ng-show="!event.contactsOnly && showEventEditButton" ng-click="securise()" tooltip-placement="right" tooltip="L'évenement sera restreint à la liste de diffusion">Sécuriser cet évenement</button>
                                    <button class="btn" type="button"  ng-show="event.contactsOnly && showEventEditButton" ng-click="unSecurise()">Ne plus sécuriser cet évenement</button>
                                </dd>
                            </dl>
                        </accordion-group>
                    </accordion>


                    <button ng-show="showEventEditButton" class="btn" type="button" ng-click="setEventEditMode(true)">Editer</button>



                </div>
                <div ng-show="eventEdit">
                    <div class="alert alert-info" ng-show="showUpdated">
                        <button type="button" class="close" data-dismiss="alert" ng-click="setToUpdated()">&times;</button>
                        Completez les informations de l'événement pour aider les participants !
                    </div>
                    <label>Nom</label>
                    <input ng-model="event.name" type="text" ></input>
                    <label>Description</label>
                    <textarea ng-model="event.description" rows="3" cols="8"></textarea>
                    <label>Date de l'événement</label>
                    <div class="control-group input-append">
                        <input type="text" ng-model="event.fromDate" data-date-format="dd/mm/yyyy" bs-datepicker>
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>
                    <label>Heure de début</label>
                    <div class="control-group input-append">
                        <input type="text" ng-model="event.startTime" bs-timepicker>
                        <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
                    </div>
                    <label>Adresse de l'évenement :</label>
                    <input ng-model="event.address" googleplace type="text" ></input>

                    <label>Liste de diffusion :</label>
                    <div class="controls">
                        <div class="input-prepend input-append" >
                            <span class="add-on"><i class="icon-envelope"></i></span>
                            <input ng-model="contacts.addedContact" placeholder="email1;email2..." type="text"></input>
                            <button class="btn" type="button"  ng-click="addContact(contacts.addedContact)">Ajouter</button>
                        </div>
                    </div>
                    <button class="btn" type="button"  ng-show="!event.contactsOnly" ng-click="securise()" tooltip-placement="right" tooltip="L'évenement sera restreint à la liste de diffusion">Sécuriser cet évenement</button>
                    <button class="btn" type="button"  ng-show="event.contactsOnly" ng-click="unSecurise()">Ne plus sécuriser cet évenement</button>
                    <br/>
                    <button class="btn btn-primary" type="button" ng-click="saveEvent()">Valider</button>
                    <button class="btn" type="button" ng-click="setEventEditMode(false)">Annuler</button>
                </div>



                <alert ng-repeat="alert in alerts | orderBy: '-date' " type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                <br/>
                    <div ng-repeat="marker in getMarkers()" ui-map-marker="getMarker($index)"
                         ui-event="{'map-click': 'openMarkerInfo(marker)'}">
                    </div>
                    <div ui-map-info-window="myInfoWindow">
                        <div ng-show="currentInfoWindowsSubscriber">
                            <strong>{{currentInfoWindowsSubscriber.surname}} {{currentInfoWindowsSubscriber.name}}</strong>
                            <div ng-show="currentInfoWindowsSubscriber.locomotion == 'CAR'">
                                Passagers :
                                <ul>
                                    <li ng-repeat="aPassenger in currentInfoWindowsSubscriber.car.passengers" >
                                        {{getSubscriber(aPassenger).surname}} {{getSubscriber(aPassenger).name}}
                                    </li>
                                </ul>
                                {{currentInfoWindowsSubscriber.car.nbPlaces - currentInfoWindowsSubscriber.car.passengers.length}} places restantes
                            </div>
                            <div ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && currentInfoWindowsSubscriber.normalCar" >
                                <button class="btn btn-success btn-mini" type="button" ng-click="askForSeat(currentInfoWindowsSubscriber)" >Reserver une place</button>
                            </div>
                            <div ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && currentInfoWindowsSubscriber.currentCar" >
                                <button class="btn btn-warning btn-mini" type="button" ng-click="removePassenger(currentInfoWindowsSubscriber, currentSubscriber.userRef)" >Annuler ma reservation</button>
                            </div>
                            <div ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && currentInfoWindowsSubscriber.iAskHim" >
                                <button class="btn btn-warning btn-mini" type="button" ng-click="removeWaitingGuy(currentInfoWindowsSubscriber, currentSubscriber.userRef)" >Annuler ma reservation</button>
                            </div>
                            <div ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && currentInfoWindowsSubscriber.heAskMeToBeInHisCar">
                                <button class="btn btn-warning btn-mini" type="button" ng-click="removePossibleCar(currentSubscriber, currentInfoWindowsSubscriber.userRef)" >Decliner sa proposition</button>
                            </div>
                            <!-- AUTOSTOP -->
                            <div ng-show="currentSubscriber.locomotion == 'CAR' && currentInfoWindowsSubscriber.free">
                                <button class="btn btn-success btn-mini" type="button" ng-click="proposeSeat(currentInfoWindowsSubscriber, currentSubscriber.userRef)" >Proposer une place</button>
                            </div>
                            <div ng-show="currentSubscriber.locomotion == 'CAR' && currentInfoWindowsSubscriber.requestedByMe">
                                <button class="btn btn-warning btn-mini" type="button" ng-click="removePossibleCar(currentInfoWindowsSubscriber, currentSubscriber.userRef)" >Annuler ma proposition</button>
                            </div>
                            <div ng-show="currentSubscriber.locomotion == 'CAR' && currentInfoWindowsSubscriber.waitingForMyCar">
                                <button class="btn btn-warning btn-mini" type="button" ng-click="removeWaitingGuy(currentSubscriber, currentInfoWindowsSubscriber.userRef)" >Decliner la reservation</button>
                            </div>
                            <div ng-show="currentSubscriber.locomotion == 'CAR' && currentInfoWindowsSubscriber.inMyCar">
                                <button class="btn btn-warning btn-mini" type="button" ng-click="removePassenger(currentSubscriber, currentInfoWindowsSubscriber.userRef)" >Annuler la reservation</button>
                            </div>
                        </div>
                        <div ng-show="currentInfoWindowsEvent">
                            <strong>{{currentInfoWindowsEvent.name}}</strong><br/>
                            Adresse : <address><strong>{{currentInfoWindowsEvent.address}}</strong></address>
                        </div>
                    </div>
                    <div id="map_canvas" ui-map="map" class="map"
                         ui-options="getMapOptions()">
                    </div>
            </div>

            <div ng-show="!currentSubscriber"  class="span4">
                <fieldsWallet>
                    <legend>Vous ne participez pas encore :</legend>
                    <label>Email</label>
                    <input ng-model="newSubscriber.email" type="email" required></input>
                    <label>Nom</label>
                    <input ng-model="newSubscriber.name" type="text" ></input>
                    <label>Prénom</label>
                    <input ng-model="newSubscriber.surname" type="text" ></input>
                    <label>Point de départ</label>
                    <input ng-model="newSubscriber.address" googleplace type="text" ></input>
                    <label>Je suis :</label>
                    <select ng-model="newSubscriber.locomotion" ng-options="item.id as item.name for item in items"></select>
                    <div ng-show="newSubscriber.locomotion == 'CAR'">
                        <label>Nb passagers max</label>
                        <input ng-model="newSubscriber.car.nbPlaces" type="text" maxlength="1"></input>
                    </div>
                </fieldset>
                <button class="btn btn-primary" type="button" ng-click="subscribe()">Participer</button>
            </div>

            <div ng-show="currentSubscriber" class="span4">
                <br/>


                <div>
                    <h3><i><img ng-src="{{currentSubscriber.picto}}" /></i>{{currentSubscriber.surname}} {{currentSubscriber.name}}</h3>
                    <strong>Mon point de départ : </strong>

                    <address ng-show="!editMode">
                      <i class="icon-globe"></i> {{currentSubscriber.address.description}} <button class="btn" ng-show="!editMode" ng-click="setEditMode(true)">Modifier</button>
                    </address>


                    <div class="btn-group">
                        <button ng-show="currentSubscriber.locomotion == 'AUTOSTOP' || currentSubscriber.locomotion == 'DONT_KNOW_YET'" ng-click="updateLocomotion('CAR')" type="button" class="btn" >Devenir conducteur</button>
                        <button ng-show="currentSubscriber.locomotion == 'CAR' || currentSubscriber.locomotion == 'DONT_KNOW_YET'" ng-click="updateLocomotion('AUTOSTOP')" type="button" class="btn" >Devenir passager</button>
                    </div>


                    <script type="text/ng-template" id="popin.html">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3>Attention</h3>
                        </div>
                        <div class="modal-body">
                            <p>
                                Vous allez supprimer votre voiture et tous les passagers qui sont à bord !
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="updateLocomotion('AUTOSTOP');dismiss()">Valider</button>
                            <button class="btn btn-warning cancel" ng-click="dismiss()">Annuler</button>
                        </div>
                    </script>


                    <div ng-show="editMode" >
                        <label>Nouvelle adresse : </label>
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-globe"></i></span>
                            <input ng-model="currentSubscriber.address" googleplace type="text" ></input>
                        </div>
                        <button  class="btn btn-primary" ng-click="saveCurrentSubscriber()">Valider</button>
                        <button  class="btn" ng-click="setEditMode(false)">Annuler</button>
                    </div>


                    <div ng-show="currentCar" class="well">
                        <strong>Ma voiture :</strong><br/>
                        <strong>Le conducteur :</strong> {{currentCar.driver.name}} <br/>
                        <div ng-show="currentCar.passengers.length==0"><strong>Aucun passager</strong><br/></div>
                        <div ng-show="currentCar.passengers.length>0">
                            <strong>Les passagers : </strong>
                            <ul >
                                <li ng-repeat="passenger in currentCar.passengers" >
                                    {{passenger.name}}
                                    <button ng-show="passenger.deleteRight" class="btn btn-warning btn-mini" type="button" ng-click="removePassenger(currentCar.driver.subscriber, passenger.subscriber.userRef)" >Annuler la reservation</button>
                                    </td>
                                </li>
                            </ul>
                        </div>
                        {{currentCar.driver.subscriber.car.nbPlaces - currentCar.driver.subscriber.car.passengers.length}} places restantes
                        <a ng-click="createTopicForCar(subscriber)" ><i class=" icon-comment" tooltip="Démarrer une discussion pour cette voiture" ></i></a>
                    </div>

                    <div ng-show="currentSubscriber.locomotion == 'AUTOSTOP'">
                        <div ng-show="!currentSubscriber.carRef">
                            <strong>Mes demandes en attente :</strong>
                            <ul>
                                <li ng-repeat="subscriber in subscribers" ng-show="subscriber.iAskHim">
                                    {{subscriber.surname}} {{subscriber.name}}
                                    <button class="btn btn-warning btn-mini" type="button" ng-click="removeWaitingGuy(subscriber, currentSubscriber.userRef)" >Annuler</button>
                                </li>
                            </ul>
                            <strong ng-show="currentSubscriber.possibleCars.length > 0">Les utilisateurs suivants me proposent leur voiture :</strong>
                            <ul >
                                <li ng-repeat="subscriber in subscribers" ng-show="subscriber.heAskMeToBeInHisCar">
                                    {{subscriber.surname}} {{subscriber.name}}
                                    <button class="btn btn-success btn-mini" type="button" ng-click="validatePassenger(subscriber, currentSubscriber.userRef)" >Accepter</button>
                                    <button class="btn btn-warning btn-mini" type="button" ng-click="removePossibleCar(currentSubscriber, subscriber.userRef)" >Refuser</button>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div ng-show="currentSubscriber.locomotion == 'CAR'">
                        <div ng-show="currentSubscriber.car &&  currentSubscriber.car.waitings">
                            <strong>En attente : </strong>
                            <ul>
                                <li ng-repeat="passenger in currentSubscriber.car.waitings" >
                                    {{getSubscriber(passenger).surname}} {{getSubscriber(passenger).name}}
                                    <button class="btn btn-success btn-mini" type="button" ng-click="validatePassenger(currentSubscriber, passenger)" >Valider</button>
                                    <button class="btn btn-warning btn-mini" type="button" ng-click="removeWaitingGuy(currentSubscriber, passenger)" >Annuler</button>
                                </li>
                            </ul>
                        </div>
                        <div >
                            <strong>Mes propositions en attente de validation : </strong>
                            <ul>
                                <li ng-repeat="subscriber in subscribers" ng-show="subscriber.requestedByMe">
                                    {{subscriber.surname}} {{subscriber.name}}
                                    <button class="btn btn-warning btn-mini" type="button" ng-click="removePossibleCar(subscriber, currentSubscriber.userRef)" >Annuler</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br/>
                    <span><strong>Afficher : </strong></span>
                    <br/>
                     <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-click="setFilterToCar()" ng-model="filter.car" btn-checkbox>Les conducteurs</button>
                        <button type="button" class="btn btn-primary" ng-click="setFilterToAutostop()" ng-model="filter.autostop" btn-checkbox>Les passagers</button>
                    </div>

		<br/>
		<div>
		<form class="form-search">
		Rechercher :
		  <input type="text" ng-model="query" class="input-medium search-query">
		</form>
		</div>
                    <table id="searchTextResults" class="table table-hover">
                        <thead>
                            <tr>
                                <th>locomotion</th>
                                <th>Nom</th>
                                <th>Adresse</th>
                                <th class="hidden-phone">places restantes</th>
                                <th ng-show="currentSubscriber.locomotion == 'AUTOSTOP'">Reservations</th>
                                <th ng-show="currentSubscriber.locomotion == 'CAR'">Prendre/Ne plus prendre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="subscriber in getSubscribers() | auto:filterUsers:markers  | filter:query" ng-show="!subscriber.current" class="{{subscriber.class}}" >
                                <td>
                                    <a ng-click="openSubscriberInfo(subscriber)"><img ng-src="{{subscriber.picto}}" /></a>
                                    <a ng-click="createTopic(subscriber)" ><i class=" icon-comment" tooltip="Démarrer une discussion" ></i></a>
                                </td>
                                <td >{{subscriber.surname}} {{subscriber.name}}</td>
                                <td>{{subscriber.address.description}}</td>
                                <td class="hidden-phone">{{subscriber.car.nbPlaces - subscriber.car.passengers.length}}</td>
                                <!-- CAR -->
                                <td ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && subscriber.normalCar" >
                                    <button class="btn btn-success" type="button" ng-click="askForSeat(subscriber)" >Reserver une place</button>
                                </td>
                                <td ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && subscriber.currentCar" >
                                    <button class="btn btn-warning" type="button" ng-click="removePassenger(subscriber, currentSubscriber.userRef)" >Annuler ma reservation</button>
                                </td>
                                <td ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && subscriber.iAskHim" >
                                    <button class="btn btn-warning" type="button" ng-click="removeWaitingGuy(subscriber, currentSubscriber.userRef)" >Annuler ma reservation</button>
                                </td>
                                <td ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && subscriber.heAskMeToBeInHisCar">
                                    <button class="btn btn-warning" type="button" ng-click="removePossibleCar(currentSubscriber, subscriber.userRef)" >Decliner sa proposition</button>
                                </td>
                                <!-- AUTOSTOP -->
                                <td ng-show="currentSubscriber.locomotion == 'CAR' && subscriber.free">
                                    <button class="btn btn-success" type="button" ng-click="proposeSeat(subscriber)" >Proposer une place</button>
                                </td>
                                <td ng-show="currentSubscriber.locomotion == 'CAR' && subscriber.requestedByMe">
                                    <button class="btn btn-warning" type="button" ng-click="removePossibleCar(subscriber, currentSubscriber.userRef)" >Annuler ma proposition</button>
                                </td>
                                <td ng-show="currentSubscriber.locomotion == 'CAR' && subscriber.waitingForMyCar">
                                    <button class="btn btn-warning" type="button" ng-click="removeWaitingGuy(currentSubscriber, subscriber.userRef)" >Annuler ma proposition</button>
                                </td>
                                <td ng-show="currentSubscriber.locomotion == 'CAR' && subscriber.inMyCar">
                                    <button class="btn btn-warning" type="button" ng-click="removePassenger(currentSubscriber, subscriber.userRef)" >Annuler la reservation</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="span2">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
            </div>
            <div class="span5 well">
                <p class="nav-header">
                    Mur
                </p>
                    <textarea class="input-block-level" rows="2" ng-model="wall.currentMessage" ui-keypress="{13:'sendMessageToWall(wall.currentMessage)'}" ></textarea>
                <p ng-repeat="msg in wall.messages | orderBy: '-date' | limitTo: eltsInWall" class="dl-horizontalli">
                    <strong ng-show="msg.from != currentSubscriber.userRef" tooltip-placement="left" tooltip="{{msg.date | date:'à HH:mm:ss le dd/MM'}}">
                        {{getSubscriber(msg.from).surname}} {{getSubscriber(msg.from).name}} :
                    </strong>
                    <strong ng-show="msg.from == currentSubscriber.userRef" tooltip-placement="left" tooltip="{{msg.date | date:'à HH:mm:ss le dd/MM'}}">
                        Moi :
                    </strong>
                    <br/>
                    {{msg.message}}
                    <small class="muted" ng-show="msg.statut && msg.statut == 'SENDING'">Envoi en cours</small>
                    <small class="muted" ng-show="!msg.statut || msg.statut == 'RECEIVED'">Envoyé</small>
                    <small class="text-error" ng-show="msg.statut && msg.statut == 'FAILURE'">Erreur le message n'a pas été envoyé</small>
                </p>
                <p>
                    <a ng-click="eltsInWall = eltsInWall + 5 ">Plus ...</a>
                    <a class="pull-right" ng-show="eltsInWall > 10" ng-click="eltsInWall = eltsInWall - 5 ">... moins</a>
                </p>
            </div>

            <div class="span5 well" id="discussion">
                <div class="tabbable tabs-right" >
                    <ul class="nav nav-tabs">
                        <li class="nav-header">Mes conversations</li>
                        <li ng-repeat="topic in chat.topics  | orderBy: '-update'" ng-class="{'active' : topic.active}">
                            <a href="javascript:void" ng-click="loadMessages(topic)">
                                <ul ng-show="topic.categorie=='chat'">
                                    <li ng-show="chaters != currentSubscriber.userRef" ng-repeat="chaters in topic.subscribers">{{getSubscriber(chaters).surname}} {{getSubscriber(chaters).name}}, </li>
                                </ul>
                                <ul ng-show="topic.categorie=='carChat'">
                                    <li>Ma voiture</li>
                                </ul>
                                <span ng-show="topic.alert" class="badge badge-important">message</span>
                                <small class="muted" ng-show="topic.statut && topic.statut == 'SENDING'">Creation en cours</small>
                                <small class="muted" ng-show="!topic.statut || topic.statut == 'RECEIVED'" >{{topic.update | date:'HH:mm:ss le dd/MM'}}</small>
                                <small class="text-error" ng-show="topic.statut && topic.statut == 'FAILURE'"><span class="badge badge-important">!</span>Erreur la conversation n'a pas été créé</small>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" class="span3">
                        <div class="row-fluid">
                            <p class="nav-header">
                                Ma conversation avec : <strong ng-show="chaters != currentSubscriber.userRef" ng-repeat="chaters in chat.currentTopic.subscribers">{{getSubscriber(chaters).surname}} {{getSubscriber(chaters).name}}, </strong>
                                <button ng-show="!editAddTopic" class="btn btn-mini" type="button" ng-click="setEditAddTopic(true)" tooltip="Ajouter à la conversation">+</button>
                                <button ng-show="editAddTopic" class="btn btn-mini" type="button" ng-click="setEditAddTopic(false)" tooltip="Ajouter à la conversation">-</button>
                            </p>

                            <div ng-show="editAddTopic">
                                <div>
                                    <alert ng-repeat="newSubsc in chat.currentTopic.newTopicSubscribers" type="info" close="removeNewTopicSubscriber($index)">{{getSubscriber(newSubsc).surname}} {{getSubscriber(newSubsc).name}}</alert>
                                    <button ng-show="chat.currentTopic.newTopicSubscribers" class="btn btn-primary" type="button" ng-click="addToTopic()">Valider</button>
                                </div>
                                <div>
                                    Rechercher : <input class="search-query" type="text" ng-model="chat.currentTopic.userToAddToTopic" typeahead="subsc.userRef as subsc.name for subsc in subscribers | filter:$viewValue" Z>
                                </div>
                                <br/>
                            </div>
                            <small class="muted" ng-show="chat.currentTopic.addNewSubscribersStatut == 'SENDING'">Ajout à la conversation en cours</small>
                            <small class="text-error" ng-show="chat.currentTopic.addNewSubscribersStatut == 'FAILURE'"><span class="badge badge-important">!</span>Erreur lors de l'ajout à la conversation</small>
                            <!--
                            <p >
                                <a ng-click="eltsInChat = eltsInChat + 5 ">Plus ...</a>
                            </p>
                            -->
                            <div style="max-height:200px;overflow:auto;" scroll-glue >
                                <p ng-repeat="message in chat.messages | orderBy: 'date' " >
                                    <strong ng-show="message.from != currentSubscriber.userRef" tooltip-placement="left" tooltip="{{message.date | date:'à HH:mm:ss le dd/MM'}}">
                                        {{getSubscriber(message.from).surname}} {{getSubscriber(message.from).name}} :
                                    </strong>
                                    <strong ng-show="message.from == currentSubscriber.userRef" tooltip-placement="left" tooltip="{{message.date | date:'à HH:mm:ss le dd/MM'}}">
                                        Moi :
                                    </strong>
                                    {{message.message}} <br/>
                                    <small class="muted" ng-show="message.from == currentSubscriber.userRef && message.statut && message.statut == 'SENDING'">Envoi en cours</small>
                                    <small class="muted" ng-show="message.from == currentSubscriber.userRef && !message.statut || message.statut == 'RECEIVED'">Envoyé {{message.date | date:'à HH:mm:ss le dd/MM'}}</small>
                                    <small class="text-error" ng-show="message.from == currentSubscriber.userRef && message.statut && message.statut == 'FAILURE'">Erreur le message n'a pas été envoyé</small>
                                </p>
                            </div>
                        </div>

                        <div class="row-fluid pull-right">
                            <textarea class="input-xlarge" ng-model="chat.currentMessage" ui-keypress="{13:'sendMessage(chat.currentMessage)'}" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
