@import helper._ 
@import helper.twitterBootstrap._


@main(Messages("playauthenticate.event.title"),"event") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/demo.css")" />
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=fr"></script>
  
  <script type="text/javascript" src="@routes.Assets.at("js/lib/angular.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/lib/ui-bootstrap-tpls-0.4.0.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/lib/event.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/lib/ui-map.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/app/event/app.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/app/directives/googleplace.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/app/event/controller.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/app/filters.js")"></script>
  <script type="text/javascript" src="@routes.Application.jsRoutes()"></script>
  <div ng-controller="EventCtrl" ng-app="covoiturage">

	<div class="row-fluid" >
		<div class="span2">
		</div>
		<div class="span4">
			<h1>
			{{event.name}}
			</h1>
			<p class="text-center">{{event.description}}</p>
			<strong>à l'adresse :</strong>
			<address>
			  {{event.address.description}}
			</address>
			<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
			<br/>
				<div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
                     ui-event="{'map-click': 'openMarkerInfo(marker)'}">
                </div>
				<div ui-map-info-window="myInfoWindow">
						<strong>{{currentInfoWindowsSubscriber.surname}} {{currentInfoWindowsSubscriber.name}}</strong>
						<div ng-show="currentInfoWindowsSubscriber.locomotion == 'CAR'">
							Passagers : 
							<ul>
								<li ng-repeat="aPassenger in currentInfoWindowsSubscriber.car.passengers" >
									{{refSubscribers[aPassenger].surname}} {{refSubscribers[aPassenger].name}}
								</li>
							</ul>
							{{currentInfoWindowsSubscriber.car.nbPlaces - currentInfoWindowsSubscriber.car.passengers.length}} places restantes
						</div>
						<div ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && currentInfoWindowsSubscriber.normalCar" >
							<button class="btn btn-success btn-mini" type="button" ng-click="askForSeat(currentInfoWindowsSubscriber)" >Monter</button>
						</div>
						<div ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && currentInfoWindowsSubscriber.currentCar" >
							<button class="btn btn-warning btn-mini" type="button" ng-click="removePassenger(currentInfoWindowsSubscriber, currentSubscriber.userRef)" >Descendre</button>
						</div>
						<div ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && currentInfoWindowsSubscriber.iAskHim" >
							<button class="btn btn-warning btn-mini" type="button" ng-click="removeWaitingGuy(currentInfoWindowsSubscriber, currentSubscriber.userRef)" >Descendre</button>
						</div>
						<div ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && currentInfoWindowsSubscriber.heAskMeToBeInHisCar">
							<button class="btn btn-warning btn-mini" type="button" ng-click="removePossibleCar(currentSubscriber, currentInfoWindowsSubscriber.userRef)" >Descendre</button>
						</div>
						<!-- AUTOSTOP -->
						<div ng-show="currentSubscriber.locomotion == 'CAR' && currentInfoWindowsSubscriber.free">
							<button class="btn btn-success btn-mini" type="button" ng-click="proposeSeat(currentInfoWindowsSubscriber, currentSubscriber.userRef)" >Prendre</button>
						</div>
						<div ng-show="currentSubscriber.locomotion == 'CAR' && currentInfoWindowsSubscriber.requestedByMe">
							<button class="btn btn-warning btn-mini" type="button" ng-click="removePossibleCar(currentInfoWindowsSubscriber, currentSubscriber.userRef)" >Ne plus prendre</button>
						</div>
						<div ng-show="currentSubscriber.locomotion == 'CAR' && currentInfoWindowsSubscriber.waitingForMyCar">
							<button class="btn btn-warning btn-mini" type="button" ng-click="removeWaitingGuy(currentSubscriber, currentInfoWindowsSubscriber.userRef)" >Ne plus prendre</button>
						</div>
						<div ng-show="currentSubscriber.locomotion == 'CAR' && currentInfoWindowsSubscriber.inMyCar">
							<button class="btn btn-warning btn-mini" type="button" ng-click="removePassenger(currentSubscriber, currentInfoWindowsSubscriber.userRef)" >Ne plus prendre</button>
						</div>
                </div>
				<div id="map_canvas" ui-map="myMap" class="map"
	                 ui-options="mapOptions">
	            </div>
		</div>
		<div ng-show="!currentSubscriber"  class="span4">
		 	<fieldset>
				<legend>Vous ne participez pas encore :</legend>
				<label>Email</label>
				<input ng-model="newSubscriber.email" type="email" required></input>
				<label>Nom</label> 
				<input ng-model="newSubscriber.name" type="text" ></input> 
				<label>Prénom</label>
				<input ng-model="newSubscriber.surname" type="text" ></input> 
				<label>Point de départ</label> 
				<input ng-model="newSubscriber.address" googleplace type="text" ></input> 
				<label>Je suis :</label> 
				<select ng-model="newSubscriber.locomotion" ng-options="item.id as item.name for item in items"></select>
				<div ng-show="newSubscriber.locomotion == 'CAR'">
					<label>Nb passagers max</label> 
					<input ng-model="newSubscriber.car.nbPlaces" type="text" maxlength="1"></input> 
				</div>
			</fieldset>
			<button class="btn btn-primary" type="button" ng-click="subscribe()">Participer</button>
		</div>
		
		<div ng-show="currentSubscriber" class="span4">
			<br/>
			
			
			<div>
				<h3>{{currentSubscriber.surname}} {{currentSubscriber.name}}</h3>
				<strong>Mon point de départ : </strong>
				
				<address ng-show="!editMode">
				  <i class="icon-globe"></i> {{currentSubscriber.address.description}} <button class="btn" ng-show="!editMode" ng-click="setEditMode(true)">Modifier</button>
				</address>
								
				<div ng-show="editMode" >
					<label>Nouvelle adresse : </label>
					<div class="input-prepend">
						<span class="add-on"><i class="icon-globe"></i></span>
						<input ng-model="currentSubscriber.address" googleplace type="text" ></input>
					</div>
					<button  class="btn btn-primary" ng-click="saveCurrentSubscriber()">Valider</button>
					<button  class="btn" ng-click="setEditMode(false)">Annuler</button>
				</div>
				
				
				<div ng-show="currentSubscriber.locomotion == 'AUTOSTOP'">
					<div ng-show="currentSubscriber.carRef">
						<strong>Ma voiture :</strong>
						{{refSubscribers[currentSubscriber.carRef].surname}} {{refSubscribers[currentSubscriber.carRef].name}}
						<button class="btn btn-warning btn-mini" type="button" ng-click="removePassenger(refSubscribers[currentSubscriber.carRef], currentSubscriber.userRef)" >Annuler</button>
					</div>
					<div ng-show="!currentSubscriber.carRef">
						<strong>Mes demandes en attente :</strong> 
						<ul>
							<li ng-repeat="subscriber in subscribers" ng-show="subscriber.iAskHim">
								{{subscriber.surname}} {{subscriber.name}} 
								<button class="btn btn-warning btn-mini" type="button" ng-click="removeWaitingGuy(subscriber, currentSubscriber.userRef)" >Annuler</button>
							</li>
						</ul>
						<strong ng-show="currentSubscriber.possibleCars.length > 0">Les utilisateurs suivants me proposent leur voiture :</strong> 
						<ul >
							<li ng-repeat="subscriber in subscribers" ng-show="subscriber.heAskMeToBeInHisCar">
								{{subscriber.surname}} {{subscriber.name}} 
								<button class="btn btn-success btn-mini" type="button" ng-click="validatePassenger(subscriber, currentSubscriber.userRef)" >Accepter</button>
								<button class="btn btn-warning btn-mini" type="button" ng-click="removePossibleCar(currentSubscriber, subscriber.userRef)" >Refuser</button>
							</li>
						</ul>
					</div>
					
				</div>
				<div ng-show="currentSubscriber.locomotion == 'CAR'">
					<div ng-show="currentSubscriber.car &&  currentSubscriber.car.passengers">
						<label>Les passagers de ma voiture : </label>
						<ul>
							<li ng-repeat="passenger in currentSubscriber.car.passengers" >
								{{refSubscribers[passenger].surname}} {{refSubscribers[passenger].name}}
								<button class="btn btn-warning btn-mini" type="button" ng-click="removePassenger(currentSubscriber, passenger)" >Supprimer</button>
							</td>
							</li>
						</ul>
						{{currentSubscriber.car.nbPlaces - currentSubscriber.car.passengers.length}} places restantes
					</div>
					<div ng-show="currentSubscriber.car &&  currentSubscriber.car.waitings">
						<strong>En attente : </strong>
						<ul>
							<li ng-repeat="passenger in currentSubscriber.car.waitings" >
								{{refSubscribers[passenger].surname}} {{refSubscribers[passenger].name}}
								<button class="btn btn-success btn-mini" type="button" ng-click="validatePassenger(currentSubscriber, passenger)" >Valider</button>
								<button class="btn btn-warning btn-mini" type="button" ng-click="removeWaitingGuy(currentSubscriber, passenger)" >Annuler</button>
							</li>
						</ul>
					</div>
					<div >
						<strong>Mes propositions : </strong>
						<ul>
							<li ng-repeat="subscriber in subscribers" ng-show="subscriber.requestedByMe">
								{{subscriber.surname}} {{subscriber.name}} 
								<button class="btn btn-warning btn-mini" type="button" ng-click="removePossibleCar(subscriber, currentSubscriber.userRef)" >Annuler</button>
							</li>
						</ul>
					</div>
				</div>
				<br/>
				<span><strong>Je cherche : </strong></span>
				<br/>
				 <div class="btn-group">
			        <button type="button" class="btn btn-primary" ng-model="filterUsers" btn-radio="'CAR'">Une voiture</button>
			        <button type="button" class="btn btn-primary" ng-model="filterUsers" btn-radio="'AUTOSTOP'">Un passager</button>
			        <button type="button" class="btn btn-primary" ng-model="filterUsers" btn-radio="''">Peu importe</button>
			    </div>
				
				
				
				<table id="searchTextResults" class="table table-hover">
					<thead>
						<tr>
							<th>locomotion</th>
							<th>Nom</th>
							<th>Adresse</th>
							<th>places restantes</th>
							<th ng-show="currentSubscriber.locomotion == 'AUTOSTOP'">Monter/Descendre</th>
							<th ng-show="currentSubscriber.locomotion == 'CAR'">Prendre/Ne plus prendre</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="subscriber in subscribers | auto:filterUsers:markers " ng-show="!subscriber.current" class="{{subscriber.class}}" ng-click="openSubscriberInfo(subscriber)">
							<td><img ng-src="{{subscriber.picto}}" /></td>
							<td >{{subscriber.surname}} {{subscriber.name}}</td>
							<td>{{subscriber.address.description}}</td>
							<td>{{subscriber.car.nbPlaces - subscriber.car.passengers.length}}</td>
							<!-- CAR -->
							<td ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && subscriber.normalCar" >
								<button class="btn btn-success" type="button" ng-click="askForSeat(subscriber)" >+</button>
							</td>
							<td ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && subscriber.currentCar" >
								<button class="btn btn-warning" type="button" ng-click="removePassenger(subscriber, currentSubscriber.userRef)" >-</button>
							</td>
							<td ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && subscriber.iAskHim" >
								<button class="btn btn-warning" type="button" ng-click="removeWaitingGuy(subscriber, currentSubscriber.userRef)" >-</button>
							</td>
							<td ng-show="currentSubscriber.locomotion == 'AUTOSTOP' && subscriber.heAskMeToBeInHisCar">
								<button class="btn btn-warning" type="button" ng-click="removePossibleCar(currentSubscriber, subscriber.userRef)" >-</button>
							</td>
							<!-- AUTOSTOP -->
							<td ng-show="currentSubscriber.locomotion == 'CAR' && subscriber.free">
								<button class="btn btn-success" type="button" ng-click="proposeSeat(subscriber)" >+</button>
							</td>
							<td ng-show="currentSubscriber.locomotion == 'CAR' && subscriber.requestedByMe">
								<button class="btn btn-warning" type="button" ng-click="removePossibleCar(subscriber, currentSubscriber.userRef)" >-</button>
							</td>
							<td ng-show="currentSubscriber.locomotion == 'CAR' && subscriber.waitingForMyCar">
								<button class="btn btn-warning" type="button" ng-click="removeWaitingGuy(currentSubscriber, subscriber.userRef)" >-</button>
							</td>
							<td ng-show="currentSubscriber.locomotion == 'CAR' && subscriber.inMyCar">
								<button class="btn btn-warning" type="button" ng-click="removePassenger(currentSubscriber, subscriber.userRef)" >-</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="span2">
		</div>
	</div>
	</div>
}
