@import helper._ 
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.createEvent.title"),"createEvent") {

	<div class="row">
		<div class="span6">
			<h1>@Messages("playauthenticate.createEvent.title")</h1>
		</div>
	</div>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/lib/angular.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/app/evenementCreation.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/app/evenementCreationController.js")"></script>
	
	<div class="row" ng-controller="EventCreationCtrl" ng-app="covoiturage">
		<!--Colonne de gauche-->
		<div class="span3"></div>
		<div class="span3 offset2">
			<h2>Evenement</h2>
			<label>Nom</label> <input ng-model="event.name"></input> <label>Description</label>
			<input ng-model="event.description"></input> <label>adresse</label> <input
				ng-model="event.address" googleplace></input>
		</div>
		<div class="span3 offset3">
			<h2>Createur</h2>
			<label>Email</label>
			<input ng-model="event.creator.email" type="email" required></input>
			<label>Nom</label> 
			<input ng-model="event.creator.name"></input> 
			<label>Prénom</label>
			<input ng-model="event.creator.surname"></input> 
			<label>adresse</label> 
			<input ng-model="event.creator.address" googleplace></input> 
			<label>Je cherche </label> 
			 
			<br /> 
			<a href="" ng-click="valider()">Valider</a>
		</div>
	</div>


}
