@import helper._ 
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.subscribeEvent.title"),"subscribeEvent") {

	<div class="row">
		<div class="span6">
			<h1>@Messages("playauthenticate.subscribeEvent.title")</h1>
		</div>
	</div>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/lib/angular.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/app/event/subscribe/app.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/app/event/subscribe/controller.js")"></script>
	
	<div ng-controller="EventCreationCtrl" ng-app="covoiturage">
		<div class="row" >
			<!--Colonne de gauche-->
			<div class="span2">
				<legend>Participer à </legend>
				<h3>{{event.name}}</h3>
				<p>{{event.description}}</p>				
				<label>adresse : </label> 
				<p>{{event.address.description}}</p>	
			</div>
			<div class="span2 offset2" >
			 	<fieldset>
					<legend>Participant</legend>
					<div ng-show="message">
						<p class="text-warning" >{{message}}</p>
						<button class="btn btn-warning" type="button" ng-click="update()">Mettre à jour</button> ou 
						<button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
					</div>
					<label>Email</label>
					<input ng-model="subscriber.email" type="email" required></input>
					<label>Nom</label> 
					<input ng-model="subscriber.name" type="text" ></input> 
					<label>Prénom</label>
					<input ng-model="subscriber.surname" type="text" ></input> 
					<label>Adresse</label> 
					<input ng-model="subscriber.address" googleplace type="text" ></input> 
					<label>Je suis :</label> 
					<select ng-model="subscriber.locomotion" ng-options="item.id as item.name for item in items"></select>
					<div ng-show="subscriber.locomotion == 'CAR'">
						<label>Nb passagers max</label> 
						<input ng-model="subscriber.car.nbPlaces" type="text" maxlength="1"></input> 
					</div>
				</fieldset>
				<button class="btn btn-large btn-block btn-primary" type="button" ng-click="create()">Valider</button>
			</div>
			
		</div>
	</div>

}
