
@main(Messages("playauthenticate.index.title")) {
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>@Messages("playauthenticate.index.intro")</h1>
        <p>@Messages("playauthenticate.index.intro_2") <br/>
            @Messages("playauthenticate.index.intro_3")   <br/><br/>
            <a class="btn btn-large btn-inverse" href="@routes.Application.createEvent()">@Messages("playauthenticate.navigation.createEvent")</a></p>
      </div>


    }