@(loginForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.login.title"),"login") {

  <div class="row">
    <div class="col-md-6">
      <h1>@Messages("playauthenticate.login.title")</h1>
    </div>
  </div>
    
  <div id="login" class="row">

    <legend>@Messages("playauthenticate.login.existing")</legend>
    <div class="col-md-3">

      @* Display proprietary login form *@
    	@helper.form(routes.Application.doLogin) {
    	
        @if(loginForm.hasGlobalErrors) { 
          <p class="error">
            <span class="label label-important">@loginForm.globalError.message</span>
          </p>
        }

        @helper.input(loginForm("email"),   '_showConstraints -> false, '_label -> Messages("playauthenticate.login.email.placeholder")){ (id, name, value, args) =>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="@name" id="@id" type="email" />
        </div>
        }


        @helper.input(loginForm("password"), '_label -> Messages("playauthenticate.login.password.placeholder")){ (id, name, value, args) =>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input name="@name" id="@id" type="password" />
        </div>
        }

        <input type="submit" value="@Messages("playauthenticate.login.now")" class="btn btn-primary"><br/>
        <br/>
        <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("playauthenticate.login.forgot.password")</a>

    	}

    </div>

    <div class="col-md-3">
        @Messages("playauthenticate.login.oauth")
        @* Display list of available providers *@
        @_providerPartial(skipCurrent=false)
    </div>

    <div class="row">
        <legend>@Messages("playauthenticate.login.or")</legend>
        <button class="btn btn-primary btn-lg" onclick="window.location.href = '@routes.Application.signup()';">@Messages("playauthenticate.login.create")</button>
    </div>




}