@(localUser: models.User = null)

@import com.feth.play.module.pa.views.html._

@main(Messages("playauthenticate.profile.title"),"profile") {
    

    
    
    </p>
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=fr"></script>  
  <script type="text/javascript" src="@com.ee.assets.controllers.routes.Assets.at("js/app/directives/ui-bootstrap-tpls.min.js")"></script>
  <script type="text/javascript" src="@com.ee.assets.controllers.routes.Assets.at("js/app/directives/googleplace.js")"></script>
  <script type="text/javascript" src="@com.ee.assets.controllers.routes.Assets.at("js/app/user/app.js")"></script>
  <script type="text/javascript" src="@com.ee.assets.controllers.routes.Assets.at("js/app/user/controller.js")"></script>
  
  <div ng-controller="UserCtrl" class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h1>@Messages("playauthenticate.profile.title")</h1>
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        <div>
            <label>Email</label>
            <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input class="form-control" ng-model="user.email"  type="email" required />
            </div>
            <label>Nom</label>
            <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" ng-model="user.name" type="text" />
            </div>
            <label>Prénom</label>
            <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" ng-model="user.surname" type="text" />
            </div>
            <label>Adresse : {{user.address.description}}</label>
            <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
            <input class="form-control" ng-model="user.address" googleplace type="text" />
            </div>
            <ul>
                <li><a href="@routes.Account.changePassword">@Messages("playauthenticate.profile.password_change")</a></li>
            </ul>
            <button class="btn btn-primary" type="button" ng-click="saveUser()" >Sauvegarder</button>
        </div>
        <h2>Mes participations :</h2>
        <ul>
            <li ng-repeat="event in events" >
                {{event.name}} - {{event.description}} <strong ng-show="event.isCreator">Createur!</strong><a ng-href="{{event.links.page}}" >Voir</a>
            </li>
        </ul>
      </div>
      <div class="col-md-4">
          <legend>@Messages("playauthenticate.profile.link.account")</legend>
          <p>
              @_providerPartial()
              <br/>
          </p>
      </div>
  </div>
}
