@(localUser: models.User = null)

@import com.feth.play.module.pa.views.html._

@main(Messages("playauthenticate.profile.title"),"profile") {
    
    <h1>@Messages("playauthenticate.profile.title")</h1>
    
    
    </p>
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=fr"></script>  
  <script type="text/javascript" src="@routes.Assets.at("js/lib/angular.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/app/directives/ui-bootstrap-tpls-0.4.0.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/app/directives/googleplace.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/app/user/app.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/app/user/controller.js")"></script>
  
  <div ng-controller="UserCtrl" ng-app="covoiturage">
  	<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  	<div>
		<label>Email</label>
		<div class="input-prepend">
		<span class="add-on"><i class="icon-envelope"></i></span>
		<input ng-model="user.email" class="span3"  type="email" required></input>
		</div>
		<label>Nom</label> 
		<div class="input-prepend">
		<span class="add-on"><i class="icon-user"></i></span>
		<input ng-model="user.name" type="text" ></input> 
		</div>
		<label>Prénom</label>
		<div class="input-prepend">
		<span class="add-on"><i class="icon-user"></i></span>
		<input ng-model="user.surname" type="text" ></input> 
		</div>
		<label>Adresse : {{user.address.description}}</label> 
		<div class="input-prepend">
		<span class="add-on"><i class="icon-globe"></i></span>
		<input ng-model="user.address" googleplace type="text" ></input>
		</div>
		<ul>
	    	<li><a href="@routes.Account.changePassword">@Messages("playauthenticate.profile.password_change")</a></li>
	    </ul> 
	    <button class="btn btn-primary" type="button" ng-click="saveUser()" >Sauvegarder</button>
  	</div>
  	<h2>Mes participations :</h2>
  	<ul>
  		<li ng-repeat="event in events" >
  			{{event.name}} - {{event.description}} <a ng-href="{{event.links.page}}" >Voir</a>
  		</li>
  	</ul>
  </div>  
}
