@(signupForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.signup.title"),"signup") {
    
  <div class="row" >
    <div class="col-md-6">
      <h1>@Messages("playauthenticate.signup.title")</h1>
    </div>
  </div>

  <div id="signup" class="row">
    <div class="col-md-2"></div>

    <div class="col-md-3">
    	@helper.form(routes.Application.doSignup) {
    	
            @if(signupForm.hasGlobalErrors) { 
                <p class="error">
		            <span class="label label-important">@signupForm.globalError.message</span>
		        </p>
            }

            @helper.input(signupForm("firstName"), '_label -> Messages("playauthenticate.signup.firstName")){ (id, name, value, args) =>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" name="@name" id="@id" type="text" />
                </div>
            }

            @helper.input(signupForm("lastName"), '_label -> Messages("playauthenticate.signup.lastName")){ (id, name, value, args) =>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" name="@name" id="@id" type="text" />
                </div>
            }

            @helper.input(signupForm("email"),   '_showConstraints -> false, '_label -> Messages("playauthenticate.login.email.placeholder")){ (id, name, value, args) =>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input class="form-control" name="@name" id="@id" type="email" />
                </div>
            }


            @helper.input(signupForm("password"), '_label -> Messages("playauthenticate.login.password.placeholder")){ (id, name, value, args) =>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" name="@name" id="@id" type="password" />
                </div>
            }

            @helper.input(signupForm("repeatPassword"), '_label -> Messages("playauthenticate.login.password.repeat"), '_showConstraints -> false, '_error -> signupForm.error("password")){ (id, name, value, args) =>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" name="@name" id="@id" type="password" />
                </div>
            }

            <input type="submit" value="@Messages("playauthenticate.signup.now")" class="btn btn-primary" />
    	}                             ¨
    </div>

    <div class="col-md-3">
        @Messages("playauthenticate.signup.oauth")
        @* Display list of available providers *@
        @_providerPartial(skipCurrent=false)
    </div>

  </div>

}